[Unit]
Description=BeautyCity Celery Worker
After=network.target redis.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/beauty
EnvironmentFile=/var/www/beauty/.env
ExecStart=/var/www/beauty/.venv/bin/celery -A beauty_city worker -l info
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
